* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
}
body {
	background-color: #191919
}
:root {
	--primary-color: rgb(251, 88, 89);
}
/* Weights = 300,400,700,900 */

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
}

.logo {
	padding: 0.5em;
	padding-left: 1em;
	height: 90px;
	width: 180px;
}

.nav-list {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item {
	padding: 1em;
	text-decoration: none;
	color: rgb(251, 88, 89);
	font-weight: 700;
	font-size: 1.4em;
	padding-left: 1.5em;
	overflow: hidden;
}
.nav-item:hover {
	color: gray;
}

.title-gen {
	font-weight: 400;
	font-size: 3em;
	margin-bottom: 15px;
	color:#e32d2c;
	font-family: "Rubik Mono One", sans-serif;
}

.icon {
	display: none;
}
.fa-bars {
	display: block;
	justify-content: end;
	font-size: 2em;
	opacity: 1;
	color: white;
	padding-right: 1em;
}

#myLinks {
	display: none;
	position: absolute;
	top: 5.5em;
	right: 0;
	background-color: black;
	padding: 1em;
	z-index: 11;
}
#myLinks a {
	padding: 1em;
}


@media only screen and (max-width: 900px) {
	.nav-item {
		display: none;
	}
	.nav-list {
		justify-content: flex-end;
		padding-right: 2em;
	}
	.nav-right {
		display: none;
	}
	.icon {
		display: grid;
		color: white;
		
	}
	.vl {
		display: none;
	}
}

#nav-contact  {
	text-decoration: underline;
	text-underline-offset: 0.5em;
}

.hero {
	height: 400px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--primary-color);
	font-size: 1em;
}

#title {
	font-weight: 400;
	font-size: 3em;
	line-height: 1.2;
	margin-bottom: 15px;
	color: #fff;
	font-family: "Rubik Mono One", sans-serif;
}
#subtitle {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: 15px;
	color: rgb(167, 164, 164);
	font-family: "Rubik Mono One", sans-serif;
}
span {
	font-family: "Rubik Mono One", sans-serif;
	color: var(--primary-color);
}

.showcase {
	height: 80vh;
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.fb-page {
	justify-content: start;
}
.video-container {
	position: absolute;
	top: 0;
	z-index: -1;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: 111 url("./https://traversymedia.com/downloads/cover.jpg")
		no-repeat center center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: "";
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover {
	transform: scale(0.98);
}

.about {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 5em;
	background-color: #111;
}

.about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
	color: #7f7f7f;
	margin-top: 2em;
}

.about h1 {
	color: #fff;
	font-size: 3em;
}

.social {
	padding-top: 2em;
	display: grid;
	justify-content: center;
	background-color: var(--primary-color);
}
.social-link {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.social h2 {
	text-align: center;
	margin: 30px 0;
	color: #111;
}

.social a {
	margin: 0 5px;
	color: #111;
}

@media only screen and (max-width: 400px) {
	.showcase {
		height: 75vh;
	}
	
}

.products {
	text-align: center;
	background-color: #191919;
	padding-top: 2em;
	text-align: center;
}


.listing {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product {
	padding-top: 2em;
	width: 240px;
	position: relative;
	padding-bottom: 2em;
}

.product a {
	text-decoration: none;
}

.img-wrapper {
	display: block;
	width: 100%;
	height: 240px;
	border: 1px solid #afafaf;
	border-bottom: 0;
	overflow: hidden;
	text-align: center;
}

.img-wrapper img {
}

.info {
	width: 100%;
	background: #000;
	color: #fff;
	position: relative;
	padding: 40px 10px 20px 10px;
	text-align: center;

	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	transition-property: color, height;
	transition-duration: 0.3s, 0.4s;
	transition-timing-function: ease-out;
	height: 83px;
}

.info:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	transform: scaleY(0);
	transform-origin: 50%;
	transition: transform 0.3s ease-out;
}

.info:after {
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: "";
	border-style: solid;
	transition-duration: 0.3s;
	transition-property: transform;
	left: calc(50% - 11px);
	bottom: 0;
	border-width: 10px 10px 0 10px;
	border-color: black transparent transparent transparent;
}

.product:hover .info {
	height: 40px;
}

.product:hover .info:before {
	transform: scaleY(0.7);
}

.product:hover .info:after {
	visibility: visible;
	transform: translateY(10px);
}

.title {
	transition: transform 0.3s ease-out;
}
.title a {
	color: inherit;
}
.product:hover .title {
	transform: translateY(-18px);
	font-weight: bold;
	color: #000;
}

.price {
	background: #e32d2c;
	position: absolute;
	font-size: 1.3em;
	padding: 4px 13px;
	top: -15px;
	right: 10px;
}

.price.sale {
	background: #00ba2f;
}

.price.old {
	font-size: 0.95em;
	padding: 4px 6px;
	text-decoration: line-through;
	top: -43px;
}

.actions-wrapper {
	margin-top: 14px;
	display: flex;
	justify-content: space-around;
	visibility: hidden;
}

.actions-wrapper * {
	width: 50%;
	padding: 2px 0;
	text-align: center;
	color: #191919;
	font-size: 0.95em;
	font-weight: bold;
}
.actions-wrapper *:before {
	font-family: "FontAwesome";
	margin-right: 8px;
}
.wishlist {
	border-right: 1px solid #afafaf;
}
.wishlist:hover {
	color: #e32d2c;
}
.wishlist:before {
	content: "\f08a";
}

.cart:hover {
	color: #0a75b9;
}
.cart:before {
	content: "\f07a";
}

.product:hover .actions-wrapper * {
	visibility: visible;
}

.note {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px 8px;
	font-size: 0.9em;
}

.note.on-sale {
	background: #00ba2f;
	color: #fff;
}

.note.no-stock {
	background: #191919;
	color: #fff;
}

@media only screen and (max-width: 900px) {
	.title-gen {
		font-size: 2.8em;
	}
}

.social-container {
	background-color: #191919;
	padding: 2em;
	display: flex;
	justify-content: center;
}

.fb-page {
	width: 400px !important;
}

.footer {
	background-color:#111;
	color: #7f7f7f;
	display: flex;
	justify-content: space-around;
	padding: 2em;
	text-align: center;
}
.social-footer {
	display: grid;
}

.social-footer a {
	font-size: 0.75em;
}

.social-hero {
	padding: 5em;
	display: grid;
	justify-content: center;
	text-align: center;
	background-color: #111 ;
	color: white
}
@media only screen and (max-width: 400px) {
	.showcase {
		height: 75vh;
	}
	.footer {
		display: grid;
		padding-top: 2em;
	}
}

.tagembed-container {
	padding: 3em;
	background-color: #191919
}

.reviews {
	margin-bottom: 3em;
	background-color: #191919
}

.hero-links {
	display: flex;
	justify-content: center;
}
.hero-links a {
	padding: 1em;
}

.vl {
	border: 1px solid #191919;
	height: 2em;
}

.locations {
	display: grid;
	background-color: #191919;
	justify-content: center;
	text-align: center;
	color: white
}

.maryville-loc {
	padding: 2em;
}
.bethany-loc {
	padding: 2em;
}
.bethany-loc h3 {
	padding-bottom: 2em
}

.maryville-loc h3 {
	padding-bottom: 2em
}

@media only screen and (min-width: 1250px) {
	.locations {
		display: flex;
	}
}
.product-img {
	width: 100%;
}